body {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px;
    margin: 0;
    background-color:#3a3a3a;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

header h1 {
    padding: 5px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    background-color: #3a3a3a;
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    background-color: #8adcff; 
    color: #3a3a3a;
    transition: all 300ms ease;
}

.bto-cs a:hover {
    background-color: #8adcff; 
    color: #3a3a3a;
    font-size: 20px;
    transition: all 300ms ease;
}

#general {
    display: flex;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 1200px;
    height: 500px;    
    border-radius: 10px;
}

.contenedor {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    padding: 15px;
    margin: 20px;
    float: left;
    background-color: #3a3a3a;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.campo {
    height: 30px;
    border-radius: 5px;
    font-size: 15px;    
    align-items: center;
}

.boton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #3a3a3a;
    border: 1px solid #8adcff;
    color: white;
    border-radius: 8px;
}

.boton:hover {
    color: #3a3a3a;
    background-color: #8adcff;
    transition: all 300ms ease;
}

.lista {
    width: 800px;
    padding: 10px;
    margin: 20px;
    float: left;
    align-items: center;
    text-align: center;
}

div h2 {
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

table {
    width: 100%;
    margin: 10px;
}

th{
    padding: 10px;
}

.titulo{
     padding: 10px;
     background-color: #3a3a3a;
     border-radius: 10px;
     color: white;
}