body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


/*ENCABEZADO DE LA PAGINA*/

header {
    background-color:#3a3a3a;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 10px;
    margin: 0;
}


a {
    text-decoration: none; 
    margin-right: 10px;
}


.nombre-sistema {
    color: white;
    padding: 5px;
}
.boton-operacion{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 80px;
    margin-left: 60px;
}

nav a {
    font-size: 20px;
    padding: 5px;
}

nav a:hover {
    color: #8adcff;
    font-size: 22px;
    transition: all 300ms ease;
}


/*CONTENIDO DE PAGINA*/

.menu-operaciones {
    margin-top: 10px;
    width: 100%;
    display: flex;
}

/*CONTENIDO DE PAGINA - CAJAS DE BOTONES*/

.caja-operaciones {
    padding: 20px;
    margin: 20px;
    background-color: #3a3a3a;
    height: 300px;
    width: 400px;
    text-align: center;
    border: 4px solid #3a3a3a; 
    border-radius: 10px;
}

.caja-operaciones img {
    height: 200px;
}

.titulo-operacion {
    color: white;
}

.caja-operaciones:hover {
    background-color: #8adcff;
    transition: all 800ms ease;
}

h2 .bienvenida0 {
    font-size: 200px;
}